.obj {
    background-color: rgb(220, 44, 24);
    padding: 2em;
}

#head {
    margin: 1em;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(13, 221, 13)
}

html {
    font-size: 15px;
    font-weight: 30;
}